PROXY_PORT=8080
BACKEND_APP_NAME="4meal Backend"
BACKEND_APP_ENV=local
BACKEND_APP_KEY=
BACKEND_APP_DEBUG=true
BACKEND_APP_URL=http://localhost:8080
BACKEND_SESSION_DRIVER=file
BACKEND_CACHE_STORE=file
BACKEND_QUEUE_CONNECTION=sync
BACKEND_LOG_CHANNEL=stack
BACKEND_LOG_LEVEL=debug
FRONTEND_API_BASE_URL=/api

POSTGRES_PORT=5434
POSTGRES_DB=4meal
POSTGRES_USER=4meal
POSTGRES_PASSWORD=change_me
